# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:<b>
* List popular languages used in Data Science
* List commonly used libraries used in Data Science
* List Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Git

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

|Data Science Tools|
|-|
|Jupyter Lab|
|-|
|GitHub|
|-|
|RStudio|
------

### Below are a few examples of evaluating arithmetic expressions in Python:

In [2]:
"This a simple arithmetic expression to mutiply then add integers"
print((3*4)+5)

17

'This a simple arithmetic expression to mutiply then add integers'

In [8]:
"This will convert 200 minutes to hours by diving by 60"
x = 200/60
print (x)

3.3333333333333335

'This will convert 200 minutes to hours by diving by 60'

## AUTHOR: 
LÃºcio Gurgel do Amaral Mota